body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('arsenal\ background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section h2 {
    color: #cc0000;
    margin-bottom: 15px;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.player-images {
    text-align: center;
}

.player-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.player {
    margin: 10px;
    text-align: center;
}

.player img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}